@model IEnumerable<AuctionPortal.Models.View.AuctionView>;


@foreach (var item in Model) {
    <div id="auctions" class="col-sm-4 mb-4">
        @{
            await Html.RenderPartialAsync("Auction", item);
        }
    </div>
}