@model AuctionPortal.Models.View.SearchModel;

@{
    string auctionId = "";
}

@{
    await Html.RenderPartialAsync ("SignalRScriptsPartial");
}

@foreach (var item in Model.auctionList) {
    auctionId = "auction" + item.auction.id;

    <div id="@auctionId" class="col-sm-4 mb-4">
        @{ await Html.RenderPartialAsync("Auction", item); }
    </div>
}