@model AuctionPortal.Models.View.AuctionView;

@{
    ViewData["Title"] = "Details";

    string id = "auctionDetails" + Model.auction.id.ToString();
}

<h1>Auction Details</h1>

<hr>
<br>

<div id="@id" class="row">
    @{ await Html.RenderPartialAsync("AuctionDetails", Model); }
</div>