@model AuctionPortal.Models.Database.Auction

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Auction</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="id" />
            <div class="form-group">
                <label asp-for="name" class="control-label"></label>
                <input asp-for="name" class="form-control" />
                <span asp-validation-for="name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="description" class="control-label"></label>
                <input asp-for="description" class="form-control" />
                <span asp-validation-for="description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="imageId" class="control-label"></label>
                <select asp-for="imageId" class="form-control" asp-items="ViewBag.imageId"></select>
                <span asp-validation-for="imageId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="startingPrice" class="control-label"></label>
                <input asp-for="startingPrice" class="form-control" />
                <span asp-validation-for="startingPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="creationDateTime" class="control-label"></label>
                <input asp-for="creationDateTime" class="form-control" />
                <span asp-validation-for="creationDateTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="openingDateTime" class="control-label"></label>
                <input asp-for="openingDateTime" class="form-control" />
                <span asp-validation-for="openingDateTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="closingDateTime" class="control-label"></label>
                <input asp-for="closingDateTime" class="form-control" />
                <span asp-validation-for="closingDateTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="state" class="control-label"></label>
                <select asp-for="state" class="form-control"></select>
                <span asp-validation-for="state" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="accession" class="control-label"></label>
                <input asp-for="accession" class="form-control" />
                <span asp-validation-for="accession" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

