@model AuctionPortal.Models.View.EditAuction;

@{
    ViewData["Title"] = "Edit";
}

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}

<h1 class="display-4">Edit Auction Details</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="id" />
            <div class="form-group">
                <label asp-for="name" class="control-label"></label>
                <input asp-for="name" class="form-control" />
                <span asp-validation-for="name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="description" class="control-label"></label>
                <textarea rows="4" cols="10" asp-for="description" class="form-control"></textarea>
                <span asp-validation-for="description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="custom-file">
                    <label asp-for="file" class="control-label custom-file-label"></label>
                    <input asp-for="file" class="form-control custom-file-input">
                    <span asp-validation-for="file" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="startingPrice" class="control-label"></label>
                <input asp-for="startingPrice" class="form-control" />
                <span asp-validation-for="startingPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="openingDateTime" class="control-label"></label>
                <input asp-for="openingDateTime" class="form-control" />
                <span asp-validation-for="openingDateTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="closingDateTime" class="control-label"></label>
                <input asp-for="closingDateTime" class="form-control" />
                <span asp-validation-for="closingDateTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="MyAuctions">Back to List</a>
</div>

