@model AuctionPortal.Models.View.SearchModel;

@using Microsoft.AspNetCore.Identity;
@using AuctionPortal.Models.Database;

@inject SignInManager<User> SignInManager;
@inject UserManager<User> UserManager;

@{
    ViewData["Title"] = "Home";
}

@if(!SignInManager.IsSignedIn(User)) {
        <div class="alert alert-danger alert-dismissible">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>WARNING!</strong> You cannot bid on auctions unless you are logged in.
        </div>
}

<div class="row">
    <div class="col-sm-12">
        <form asp-controller="Auction" asp-action="Search" class="form-inline justify-content-center">
            <div class="form-group mr-3">
                <input id="auctionName" type="text" value="" asp-for="name" class="form-control" placeholder="Auction name"/>
            </div>
            <div class="form-group mr-3">
                <input id="minPrice" type="number" asp-for="minPrice" value="" class="form-control" placeholder="Minimal price">
            </div>
            
            <div class="form-group mr-3">
                <input id="maxPrice" type="number" asp-for="maxPrice" value="" class="form-control" placeholder="Maximal price">
            </div>
            <div class="form-group mr-5">
                <select id="auctionState" asp-for="state" class="custom-select">  
                    <option value="">Choose State</option>  
                    <option value="1">DRAFT</option>  
                    <option value="2">READY</option>
                    <option value="3">OPEN</option>
                    <option value="4">SOLD</option>  
                    <option value="5">EXPIRED</option>
                    <option value="6">DELETED</option>
                </select>
            </div>
            <div class="form-group mr-3">
                <button type="button" class="btn btn-primary" onclick="filter()">Search</button>
            </div>
            <div class="form-group">
                <button type="button" class="btn btn-outline-primary" onclick="noFilters()">No Filters</button>
            </div>
        </form>
    </div>
</div>

<br>
<hr>
<br>

<div class="row" id="auctions">
    @{
        await Html.RenderPartialAsync("AuctionList", Model);
    }
</div>

<div class="row" id="pagination">
    @{
        await Html.RenderPartialAsync("Pagination", Model);
    }
</div>