@model IEnumerable<AuctionPortal.Models.View.AuctionView>;

@{
    ViewData["Title"] = "My Auctions";

    string auctionId = "";
}

<div class="row">
    @foreach (var item in Model) {
        auctionId = "auction" + item.auction.id;

        <div id="@auctionId" class="col-sm-4 mb-4">
            @{ await Html.RenderPartialAsync("Auction", item); }
        </div>
    }
</div>