@model AuctionPortal.Models.Database.User;

@{
    ViewData["Title"] = "My Auctions";
}

<div class="row">
    <div class="col-sm-12">
        <table class="table myTable">
            <thead>
                <tr>
                    <th>Auction</th>
                    <th>State</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.auctionList)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.name)</td>
                        @switch (item.state)
                        {
                            case AuctionPortal.Models.Database.Auction.AuctionState.DRAFT: <td>DRAFT</td>
                                                                                        break;
                            case AuctionPortal.Models.Database.Auction.AuctionState.READY: <td>READY</td>
                                                                                        break;
                            case AuctionPortal.Models.Database.Auction.AuctionState.OPEN: <td>OPEN</td>
                                                                                        break;
                            case AuctionPortal.Models.Database.Auction.AuctionState.SOLD: <td>SOLD</td>
                                                                                        break;    
                            case AuctionPortal.Models.Database.Auction.AuctionState.EXPIRED: <td>EXPIRED</td>
                                                                                        break;
                            case AuctionPortal.Models.Database.Auction.AuctionState.DELETED: <td>DELETED</td>
                                                                                        break;
                        }
                        <td class="text-right">
                            <a asp-action="Details" asp-route-id="@item.id">Details</a>
                            @if(item.state == AuctionPortal.Models.Database.Auction.AuctionState.DRAFT) {
                                <a asp-action="Edit" asp-route-id="@item.id">| Edit |</a>
                                <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>